 <% if current_user && current_user.admin? %> 

<div class="container">

<%= render 'navbar' %>

<%= render 'dashboard' %>
<br/>

<br />
<%= link_to '<button type="button" class="btn btn-outline-dark" >users information as Excel </button>'.html_safe, users_path(format: :xlsx) %>
<br/>
<%= will_paginate @users %>
</div>
<% end %>